name: Node.js CI

on:
    push:
        branches: [main]

jobs:
    setup:
        runs-on: self-hosted
        environment: cyannav

        steps:
            - name: Checkout main repo
              uses: actions/checkout@v4
            - name: Setup node environment
              uses: actions/setup-node@v4
              with:
                  node-version: "21.x"
                  cache: "npm"
                  cache-dependency-path: |
                      client/package-lock.json
                      server/package-lock.json
            - name: Install node dependencies
              run: |
                  cd client
                  npm i --force
                  cd ../server
                  npm i --force
            - name: Create environment for backend
              run: |
                  cd server
                  touch .env.production
                  echo JWT_SECRET=${{ secrets.JWT_SECRET }} >> .env.production
                  echo CORS_ORIGIN=${{ vars.CORS_ORIGIN }} >>.env.production
                  echo SERVER_PORT=${{ vars.SERVER_PORT }} >> .env.production
                  echo JWT_EXPIRATION_TIME=${{ vars.JWT_EXPIRATION_TIME }} >> .env.production
                  echo DATABASE_ADDR=${{ vars.DATABASE_ADDR }} >> .env.production

    lint:
        needs: setup
        runs-on: self-hosted

        steps:
            - name: Lint
              run: |
                  echo "Linting to be implemented"

    frontend-test:
        needs: backend-test
        runs-on: self-hosted
        if: always()

        steps:
            - name: Setup node environment
              uses: actions/setup-node@v4
              with:
                  node-version: "21.x"
            - name: Frontend Cypress test
              run: |
                  cd server
                  NODE_ENV=frontend_test pm2 start index.js --name frontend_test_backend_server
                  cd ../client
                  npm test
                  pm2 stop frontend_test_backend_server

    backend-test:
        needs: setup
        runs-on: self-hosted

        steps:
            - name: Setup node environment
              uses: actions/setup-node@v4
              with:
                  node-version: "21.x"
            - name: Backend API test
              run: |
                  cd server
                  npm test

    deploy:
        if: always()
        needs: frontend-test
        runs-on: self-hosted
        
        steps:
            - name: Build docker container
              run: |
                docker-compose up -d --build
